header {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 7px;
    color: blueviolet;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    margin: 0 20px;
  }

  a:hover {
    color: red;
  }