.qNames {
    line-height: 60px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  
  .qNames h2 {
    text-align: center;
    font-weight: bolder;
  }
  
  .qNames li {
    margin: 10px;
    border-left: 10px palevioletred solid;
    border-right: 10px pink solid;
    border-radius: 20px;
  }
